---
title: Quecey's Answering Machine | Queer Computer Club
description: An experimental answering system written in python
path: /projects/quecey-voip
page_name: Quecey's Answering Machine
plain: true
---

%img(src="/images/answering_machine.svg" alt="quecey's answering machine" class="answering_machine_img")

.outline-box
	#{highlighted_title "Quecey's Answering Machine"}
	%p Call our phone line and our computer will answer you! We've implemented a phone answering system in python using PJSIP so that our members can write phone experiments to handle your call. Give us a dial and type in the ID of an experiment you want to try.
	%p You can also check out #{external_link "https://github.com/blackle/quecey-voip/", "the source code"}.

.phone_numbers_container
	.outline-box.center.phone_numbers
		%b Toronto:
		%h1 #{external_link "tel:1-647-812-9403", "647-812-9403"}
	.outline-box.center.phone_numbers
		%b Toll-free:
		%h1 #{external_link "tel:1-866-260-1403", "866-260-1403"}


.outline-box.push-left
	%h2 <span class="highlight">#1234</span> - Dial-an-adventure
	%b By blackle
	%p <em>You've just found an incredible stash of pirate gold out behind the old bell labs building...</em>
	%p Help create an adventure in this collaborative phone tree building game! You'll be presented with a situation and a list of numbered options for what to do next. Pick an option with your keypad, and if nobody's recorded what happens next then you get to record the answer. It's like if you took #{external_link "https://tilde.town/~ne1/code.html", "tilde.town's holodeck"} and made it audio-only.

.outline-box.push-right
	%h2 <span class="highlight">#6962</span> - Dial-a-song
	%b By tendstofortytwo
	%p Enjoy a song randomly selected from a list, streamed live from youtube. The number of this experiment is the last four digits of the old #{external_link "https://en.wikipedia.org/wiki/They_Might_Be_Giants#Dial-A-Song_(1985%E2%80%932008)", "They Might Be Giants Dial-a-Song phone line"}

.outline-box.push-left
	%h2 <span class="highlight">#4264</span> - Dial-a-hangman
	%b By pommicket
	%p See if you can beat the computer in this hangman game. However, instead of guessing a word the computer has come up with, the computer is guessing <em>your</em> word. Come up with a word with nine or fewer letters and see if the computer can guess.

.outline-box.push-right
	%h2 <span class="highlight">#1111</span> - Dial-a-fish
	%b By ari
	%p Get yourself an #{external_link "https://en.wikipedia.org/wiki/Slow-scan_television", "SSTV decoder"} and watch the clock. Call this experiment at precisely 11:11 (AM or PM) and get a randomly generated fish beamed to you in Martin 1 format.

.outline-box.push-left
	%h2 <span class="highlight">#7535</span> - Dial-a-memo
	%b By blackle
	%p Simple voice memo service. Choose an arbitrarily long name for your memo and listen to it whenever you want.

.outline-box.inline-block
	%a(href="../") ↤ Back to projects