@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.center
  text-align: center

@mixin mobile
  @media only screen and (max-width: 800px)
    @content

@mixin desktop
  @media print, (min-width: 801px)
    @content

html
  display: flex
  align-items: flex-start
  justify-content: center
  min-height: 100%
  font-family: 'B612', 'Arial', sans-serif
  padding-bottom: 10px
  box-sizing: border-box
  position: relative

.bg_container
  min-height: -webkit-fill-available
  overflow: hidden
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh

  @media print
    display: none

.bg_black_lines, .bg_foreground, .bg_white_lines
  position: absolute
  inset: 0
  background-size: cover
  mask-size: cover
  -webkit-mask-size: cover
  pointer-events: none

.bg_foreground
  mask-image: url('/images/bg/mask_landscape.svg')
  -webkit-mask-image: url('/images/bg/mask_landscape.svg')
  @media (orientation: portrait)
    mask-image: url('/images/bg/mask_portrait.svg')
    -webkit-mask-image: url('/images/bg/mask_portrait.svg')

.bg_black_lines
  background-image: url('/images/bg/black_lines_landscape.svg')
  @media (orientation: portrait)
    background-image: url('/images/bg/black_lines_portrait.svg')

.bg_white_lines
  background-image: url('/images/bg/white_lines_landscape.svg')
  @media (orientation: portrait)
    background-image: url('/images/bg/white_lines_portrait.svg')

html
  background-color: var(--bg-background)

.bg_foreground
  background-color: var(--bg-foreground)

@media screen
  .main
    position: relative

.external_link_icon
  display: inline-block
  width: 1.7ch
  filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.3))
  vertical-align: middle
  transform: translate(0,-7%)
  margin-right: .4ch
  margin-top: -1ch
  margin-bottom: -1ch
  user-select: none
  -webkit-user-select: none
  @media print
    display: none

article
  > img
    max-width: 100%
  a:not(.no-underline)
    color: black
    text-decoration-line: none
    --link-bg-thickness: 20%
    background: linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--bg-background) 10%, var(--bg-background) var(--link-bg-thickness), rgba(0,0,0,0) var(--link-bg-thickness))
    &:hover
      --link-bg-thickness: 50%

body
  flex-grow: 1
  max-width: 900px
  @include desktop
    margin: 15px

p, ul, ol
  line-height: 1.5

header
  display: flex
  flex-direction: row
  align-items: end
  gap: 15px
  //this fixes a bug where hovering causes the page to grow at the bottom
  overflow: hidden
  padding: 5px
  margin: -5px
  margin-bottom: 10px

  @include mobile
    align-items: center
    flex-direction: column
    margin-top: 10px

  a.logo
    width: 320px
    margin: 0 auto
    display: block
    transform: rotate(0deg)
    @media (prefers-reduced-motion: no-preference)
      transition: transform 200ms
      &:hover
        transform: rotate(-1deg)
    @include desktop
      max-width: 35%
    @include mobile
      max-width: 80%
    img
      display: block
      width: 100%
  nav
    flex-grow: 1
    text-align: center
    display: flex
    justify-content: end
    flex-wrap: wrap
    gap: 15px
    @media print
      display: none
    @include mobile
      justify-content: center
      gap: 8px
    span.b, a.b:active
      background: black
      color: white
      box-shadow: 0px 0px black
      transform: translate(2px, 2px)
    .b
      color: black
      background: white
      display: inline-block
      padding: .25em 1em
      border: 3px solid black
      border-radius: 1000px
      text-decoration: none
    a.b
      color: black
      background: white
      box-shadow: 2px 2px black
      transform: translate(0px, 0px)
      @media (prefers-reduced-motion: no-preference)
        transition: color 200ms, background 200ms, box-shadow 200ms, transform 200ms

      &:hover
        background: black
        color: white
      &:active, &.clicked
        background: black
        color: white
        box-shadow: 0px 0px black
        transform: translate(2px, 2px)

    span.b
      transform: translate(2px, 2px)

.index header
  @include desktop
    align-items: center
    flex-direction: column
    margin-top: 0px
    a.logo
      width: 420px
      max-width: 100%

body:not(.index, .plain) article, .outline-box
  background-color: white
  box-sizing: border-box
  margin-bottom: 15px

  @media screen
    padding: 12px 15px
    border: 3px solid black
    border-radius: 10px
    box-shadow: 2px 2px black

.well, details, .event
  padding: 1em 1.25em
  border-radius: 8px
  @media screen
    background: #ddd
  @media print
    border: 2px solid #666
  margin-top: 1em

  @media screen
    &.well-light-red
      background: #F5D5A1

    &.well-light-green
      background: #A1F5B2

.event
  date, time
    padding: .25em .5em
    border-radius: 5px
    background: #333
    color: white
    font-size: 90%

summary
  cursor: pointer

figure
  margin: 1em auto
  text-align: center
  img
    max-width: 100%

body:not(.index) article, .outline-box, .well, details, .event, .footer-item
  > *:first-child
    margin-top: 0

  > *:last-child
    margin-bottom: 0

footer
  @media screen
    padding: 12px 15px
    position: relative
    color: white
    background-color: black
    border: 3px solid black
    border-radius: 10px
    box-sizing: border-box
    box-shadow: 2px 2px black
  @media print
    padding-top: 15px
    border-top: 1px solid #666

  display: grid

  .footer-item
    display: flex
    flex-direction: column
    align-items: flex-start

  @media (min-width: 600px)
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 10px
  @media (max-width: 601px)
    grid-template-columns: 1fr
    .footer-item:not(:first-child)
      margin-top: 15px

  p
    margin: 0
  a
    display: inline-block
    text-decoration: none
    font-weight: bold
    color: white
    &:hover
      color: #bbb

.quecey
  position: relative
  width: 120px
  height: 150px
  background: url('/images/quecey_cute.svg')
  background-size: contain
  background-repeat: no-repeat
  margin: 15px auto 0px
  @media (min-width: 1100px)
    top: -120px
    left: 50%
    margin-bottom: -135px
  @media print
    display: none

.big
  font-size: 32px
  @include desktop
    font-size: 42px
  font-weight: bold

.mid, h1
  font-size: 24px
  @include desktop
    font-size: 36px
    margin-bottom: 20px
  font-weight: bold

h2
  font-size: 22px
  @include desktop
    font-size: 24px
    margin-bottom: 20px

// fancy index styles
.index em, .highlight
  font-style: normal
  background: var(--bg-foreground)

@include desktop
  .push-left
    margin-right: 60px
  .push-right
    margin-left: 60px
  .push-center
    margin-left: 30px
    margin-right: 30px

.tilt-left
  transform-origin: center
  transform: rotate(1deg)
.tilt-right
  transform-origin: center
  transform: rotate(-1deg)

.fancy-image
  width: 80%
  @include mobile
    width: 100%
  margin: auto
  margin-bottom: 15px
  border: 3px solid black
  overflow: hidden
  position: relative
  filter: contrast(120%)
  img
    position: relative
    display: block
    width: 100%

  border-radius: 10px
  background-color: white
  box-sizing: border-box
  box-shadow: 2px 2px black

  .tint-fg, .tint-bg
    position: absolute
    inset: 0
    opacity: 0.1
  .tint-bg
    background-color: var(--bg-background)
    mix-blend-mode: lighten
  .tint-fg
    background-color: var(--bg-foreground)
    mix-blend-mode: darken

@include mobile
  .table_container
    max-width: calc(100vw - 50px)
    overflow-x: scroll

table, tbody, td, th, tr
  padding: 0
  margin: 0

td, th
  padding: 5px 10px
  border: 1px solid #ccc
  text-align: center

th
  background: var(--bg-foreground)
  border-color: #ccc

.directors-portrait, .donation-picture
  border: 3px solid black
  border-radius: 10px
  box-sizing: border-box
  box-shadow: 2px 2px black
  display: block
  overflow: hidden
  width: 50%
  max-width: 200px
  margin: auto
  margin-bottom: 15px

  transform: rotate(1deg)
  @media (prefers-reduced-motion: no-preference)
    transition: transform 200ms
    &:hover
      transform: rotate(-1deg)

.directors-portrait
  @media (min-width: 501px)
    max-width: 150px
    width: 25%
    float: left
    margin-right: 15px

.donation-picture
  width: 100%
  max-width: 300px
  @media (min-width: 501px)
    max-width: 250px
    width: 25%
    float: right
    margin-left: 15px


.clear
  clear: both

@media only screen and (min-width: 1650px)
  body.index article
    >*:nth-child(2)
      translate: -415px
      margin-bottom: -460px
    >*:nth-child(3)
      translate: 345px
    >*:nth-child(4)
      translate: 345px
      margin-bottom: -156px
    >*:nth-child(5)
      translate: -294px
      margin-right: 106px
    >*:nth-child(6)
      translate: 291px
      margin-top: 113px
      position: relative
      z-index: 1
    >*:nth-child(7)
      margin-top: -211px
      translate: -405px
    >*:nth-child(8)
      margin-top: -155px
      translate: 411px
      margin-bottom: 65px
      margin-right: 136px

.phone_numbers_container
  display: grid
  justify-content: center
  .phone_numbers
    h1
      margin-top: 0
      font-size: 48px
      word-break: break-all
      @include mobile
        font-size: 32px

.inline-block
  display: inline-block

.answering_machine_img
  width: 420px
  @media (max-width: 800px)
    width: 320px
  max-width: 100%
  display: block
  margin: auto
  @media (prefers-reduced-motion: no-preference)
    transition: transform 200ms
    &:hover
      transform: rotate(-1deg)