!!!
%html(lang="locale")
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "hntp-equiv" => "X-UA-Compatible"}/

    - title= current_page.data&.title || 'Queer Computer Club'
    - description= current_page.data&.description || 'A non-profit, multidisciplinary tech-art collective in Harbord Village, Toronto'

    %title= title
    %meta(property="og:title" content="#{title}")
    %meta(property="og:type" content="website")
    %meta(property="og:description" content="#{description}")
    %meta(property="og:url" content="https://queercomputerclub.ca/")
    %meta(property="og:image" content="https://queercomputerclub.ca/images/og_bg.jpg")

    %meta(property="twitter:card" content="summary_large_image")
    %meta(property="twitter:domain" content="queercomputerclub.ca")
    %meta(property="twitter:url" content="https://queercomputerclub.ca/")
    %meta(property="twitter:title" content="#{title}")
    %meta(property="twitter:description" content="#{description}")
    %meta(property="twitter:image" content="https://queercomputerclub.ca/images/og_bg.jpg")

    %link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    %link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    %link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    %link(rel="manifest" href="/images/site.webmanifest")
    %link(rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#575757")
    %meta(name="msapplication-TileColor" content="#575757")
    %meta(name="theme-color" content="#ffffff")

    %meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    %link(rel="stylesheet" href="/stylesheets/all.css")
    %script(type="text/javascript" src="/javascripts/all.js")

    %link(rel="alternate" type="application/rss+xml" href="/events.rss" title="Queer Computer Club - Events")

  %body{:class => page_classes + " " + (current_page.data&.plain ? "plain" : "")}
    .bg_container
      .bg_black_lines
      .bg_foreground
      .bg_white_lines

    .main
      - unless current_page.data&.plain
        %header
          %a.logo(href="/")
            %img(src="/images/QCC_logotype_on_black.svg" alt="queer computer club")
          %nav
            #{header_link '/about/', 'About'}
            #{header_link '/events/', 'Events'}
            #{header_link '/faq/', 'FAQ'}
            #{header_link '/join/', 'Join'}
            #{header_link '/location/', 'Location'}

      %article
        = yield

    - unless current_page.data&.plain
      -# %p.center=nt 'translation-credits'
      -# - each_locale do |loc|
      -#   %li #{loc.language_name} - #{loc.translator}

      %footer
        %div.footer-item.footer-left
          %p
            %a(href="/projects/") Member Projects
          %p
            %a(href="/land-acknowledgement/") Land Acknowledgement
          %p
            %a(href="/covid-policy/") Covid Policy
          %p
            %a(href="/code-of-conduct/") Code of Conduct
          %p
            %a(href="/lost-and-found/") Lost and Found
        %div.footer-item.footer-middle
          %p
            %a(href="//fedi.queercomputerclub.ca/@quecey") <img class="external_link_icon" src="/images/icons/fedi.png"/>Fediverse
          %p
            %a(href="https://bsky.app/profile/quecey.queercomputerclub.ca") <img class="external_link_icon" src="/images/icons/bsky.png"/>BlueSky
          %p
            %a(href="/discord/") <img class="external_link_icon" src="/images/icons/discord.png"/>Discord
          %p
            %a(href="http://eepurl.com/izwAz2") <img class="external_link_icon" src="/images/icons/email.png"/>Email Newsletter
          %p
            %a(href="/donate/") Donate to QCC
        %div.footer-item.footer-right
          %p
            %b Queer Computer Club Inc.
          %p 720 Spadina Avenue
          %p Unit 403
          %p Toronto, Ontario
          %p M5S 2T9
      .quecey(title="quecey loves you <3")
