---
title: About | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /about
page_name: About
---

#{highlighted_title 'About'}

%p The Queer Computer Club is a non-profit, multidisciplinary tech-artist collective in Toronto, Ontario.

%img(src="/images/qcc_inside_2.jpg" alt="A photo of the inside of the Queer Computer Club.")

%h2 Mission Statement

%p Our hackerspace in downtown Toronto is a space for people to collaborate on software and hardware projects. It's a place for people to learn new things, share their knowledge, and have a good time. Our objective is to create a welcoming and inclusive environment for all, especially queer, marginalized, and disabled people.

%h2 Board of Directors

%p
  / %img.directors-portrait(src="/images/portrait.jpg")
  %b Blackle Mori (aka Isabelle Knott) [it/its]
  is a demoscener, artist, and writer. It does a lot of random stuff on the internet, such as running an imaginary ISP staffed by #{external_link "https://suricrasia.online", "sharks in maid outfits"}, creating a drum sequencer that uses #{external_link "https://suricrasia.online/opus-databending-drumkit/", "corrupted audio packets"}, and making #{external_link "https://cohost.org/rc/tagged/blackleposting", "web-based gizmos"} made entirely out of HTML and CSS.

%p More info at #{external_link "https://www.blackle-mori.com", "blackle's website"}.

/ %br.clear

%p
  / %img.directors-portrait(src="/images/portrait.jpg")
  %b jneen (aka Jeanine Adkisson) [she/her]
  is a composer, game designer, amateur pixel artist, and game preservationist.
  She has organized a number of community game projects, including
  #{external_link "https://bannedwagon.team", "The Banned Wagon Team"},
  frequently organizes
  #{external_link "https://www.youtube.com/watch?v=vRxfNeg3TvE", "community"}
  #{external_link "https://www.youtube.com/watch?v=FiC09s1ut2A", "music"}
  #{external_link "https://www.youtube.com/watch?v=NnKgadUXu2s", "events"}
  for composers, and has released several
  #{external_link "https://jneen-collective.bandcamp.com", "independent albums"}.

%p More info at #{external_link "https://jneen.net", "jneen's website"}.

/ %br.clear

%p
  / %img.directors-portrait(src="/images/portrait.jpg")
  %b Alice D. (aka Alice T.) [she/her]
  is a maker/hacker, 3D printist, artist, writer, and Jane-of-all-trades. She likes working with her hands and manages much of the infrastructure at QCC.

  Her website and social links can be found #{external_link "https://starwitch.productions", "here"}.

.clear

%h2 Contact us

%p You can reach us at <a href="mailto:directors@queercomputerclub.ca">directors@queercomputerclub.ca</a>, on the fediverse at <a href="https://fedi.queercomputerclub.ca/@quecey">@quecey@fedi.queercomputerclub.ca</a>, or by joining our <a href="/discord/">discord</a>.

%img(src="/images/qcc_inside_3.jpg" alt="A photo of the inside of the Queer Computer Club, looking out a window framed by colourful lights.")