---
title: Covid Policy | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /covid-policy
page_name: Covid Policy
---

#{highlighted_title 'Covid Policy'}

.well Masking is currently <b>mandatory</b> at QCC.

%p COVID-19 remains a real and serious airborne threat, particularly for vulnerable individuals including the elderly and immunocompromised. The Queer Computer Club prioritizes the safety and wellbeing of its visitors and members, and therefore you must adhere to the following policies to be permitted access to the space.

%h2 Symptoms

If you are exhibiting <u>any</u> of the following (new or worsening) symptoms, <b>do not come to the space.</b>

%ul
	%li Fever (37.8˚ C or higher) and/or chills
	%li Cough
	%li Shortness of breath or trouble breathing
	%li Decreased or loss of taste or smell

If you are exhibiting <u>two or more</u> of the following (new or worsening) symptoms, <b>do not come to the space.</b>

%ul
	%li Runny nose or nasal congestion
	%li Headache
	%li Extreme fatigue or tiredness
	%li Sore throat
	%li Muscle aches or joint pain
	%li Gastrointestinal symptoms (such as vomiting or diarrhea)

Please visit the #{external_link "https://www.toronto.ca/community-people/health-wellness-care/health-programs-advice/respiratory-viruses/covid-19/covid-19-what-you-should-do/covid-19-what-to-do-if-you-have-covid-19-symptoms/", "Toronto Public Health Page"} for more information on what to do when you have symptoms of COVID-19.

%h2 Vaccines

%p We encourage all those able to be vaccinated to keep up to date on their boosters. We will not ask for proof of vaccination.

%h2 Masking

%p Our COVID-19 policy is guided by the #{external_link "https://lookerstudio.google.com/embed/reporting/42b886cf-d661-488e-b7d8-5c5836b55ab6/page/p_ylubcsgdwc", "COVID-19 Hazard Index"} provided by #{external_link "https://covid19resources.ca/", "COVID-19 Resources Canada"}. This dashboard updates every two weeks and is based on wastewater data and projected excess mortality. If Ontario's risk score on this dashboard is greater than 4 ("high" or greater) then masks are mandatory within the space. If you do not have a mask then we <i>may</i> be able provide you with one from our inventory, but please do not count on it.

%p If you are alone in QCC, then not wearing a mask is permitted. It is ok to take your mask off to eat or drink.

%h2 Ventilation

%p In addition to the masking policy, we ask members to help maintain good ventilation by ensuring the unit's window is open, weather permitting. If the window must be closed (e.g. due to extreme cold), then we ask that the space's Coway Airmega 200M air purifier be turned on to it maximum setting. This air purifier, in line with #{external_link "https://www.cdc.gov/coronavirus/2019-ncov/community/ventilation.html", "CDC recommendations"}, achieves approximately 5 air changes per hour (ACH) for our space size. Although the building HVAC likely has a reasonable ACH, by running the air purifier we can guarantee a safe minimum ACH.

%p Although these ventilation measures reduce risk, we still require mask usage during times of high infection rates.

%p Your cooperation in following these guidelines will help create a safer environment for everyone at the Queer Computer Club.