---
title: Donate | Queer Computer Club
description: Donate to the Queer Computer Club
path: /donate
page_name: Donate
---

#{highlighted_title 'Donate'}

%img.donation-picture(src="/images/qcc_sharks_profile.jpg")

%p When you donate to the Queer Computer Club, you're helping us pay for our rent and general operating costs. You're contributing to our mission, to create a welcoming and inclusive environment for all, including queer, marginalized, and disabled people.

%p <b>Please note before donating:</b> Because we are a non-profit organization (NPO) and not a registered charity, we cannot issue tax receipts for donations.

%p #{external_link "https://www.paypal.com/donate/?hosted_button_id=TM8HADU2TQXN2", "Donate with PayPal"}

%p #{external_link "https://buy.stripe.com/cN2eWW4zagrt7Kw3cc", "Donate with Stripe"}

%p Stripe doesn't let us provide a recurring pay-what-you-want donation link, so here are some pre-set values:

%p #{external_link "https://buy.stripe.com/28og105De0svgh28wz", "Donate with Stripe ($5 monthly recurring donation)"}

%p #{external_link "https://buy.stripe.com/dR69CC7Lmb79e8U9AC", "Donate with Stripe ($10 monthly recurring donation)"}

%p #{external_link "https://buy.stripe.com/5kA5mm3v61wzgh23cg", "Donate with Stripe ($20 monthly recurring donation)"}

%p #{external_link "https://buy.stripe.com/bIY9CCc1C7UX6GsdQV", "Donate with Stripe ($40 monthly recurring donation)"}

%p You can also donate via Interac eTransfer. Send to directors@queercomputerclub.ca.
