---
title: Events and Schedule | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /events
page_name: Events
---

#{highlighted_title 'Events and Schedule'}

%p Below are a list of upcoming public events at QCC. You can subscribe to our calendar by importing this <a href="http://calendar.zoho.com/group/ical/zz080112306f87e66766f9ee80ec725f0ade6cc012b9363b49f75eb37caa1dc8f8f0b25e5aa544bbfc0d794f10ff30a18746bf125f">iCal link</a> into your preferred calendar program.

%p Currently the only public events at QCC are our open houses. Our open houses are on the second Saturday of every month from 1pm to 6pm.

/ #{html_events}

%h2 Event calendar

<iframe src="https://calendar.zoho.com/zc/ui/embed/#calendar=zz080112406f87e66766f9ee80ec725f0ade6cc012b9363b49f75eb37caa1dc8f8f0b25e5a07ba7587d1d9e4273a142a4f9144388f73a3f0bd4d3de5b33c42a692f9337cb8&title=QCC%20Events&type=1&language=en&timezone=America%2FToronto&showTitle=1&showTimezone=1&startingDayOfWeek=0&timeFormat=0&view=month&showDetail=0&theme=1&showAttendee=0&showSwitchingViews=1&eventColorType=light&calendarColor=%238cbf40&showAllEvents=0&showLogo=1"width="100%" height=500 frameBorder="0" scrolling="no"></iframe>
