---
title: FAQ | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /faq
page_name: FAQ
---

#{highlighted_title 'Frequently Asked Questions'}

%h3 Can I visit the Queer Computer Club without a membership?

%p If you're not a member, please check our <a href="/events/">schedule</a> for open houses and other public events. Outside of these times, we do not permit drop-ins of non-members, unless they are accompanied by a member as their plus one.

%h3 How do I become a member of QCC?

%p Please check out our <a href="/join/">membership page</a> to learn about how to become a member.

%h3 Can I get a charitable donation receipt for donating or paying membership dues?

%p Because we are a non-profit organization (NPO) and not a registered charity, we cannot issue tax receipts for donations or membership fees contributed.

%h3 Do I have to be queer to join QCC?

%p Not at all! Although the reason we picked the name is to emphasize our focus on making a space for LGBT+ people, everyone is welcome.

%h3 Can I join QCC remotely/without visiting?

%p Unfortunately we cannot support remote memberships.

%h3 Can I join the QCC discord's general chat without being a member?

%p The QCC discord is for member's only chat and to answer public questions. There used to be a general chat for non-members, but the moderation overhead became too great for us to handle. Our intention is to create an offline-first space, and we do not have the resources to run an auxillary online space that anyone can join.

%h3 Are there any physical barriers to access?

%p Our space is on the 4th floor of the office building at 720 Spadina. The front doors are accessible, as are the elevators. However, our unit's door does not have an automatic opener. Our doorway is approximately 84cm across, and all preceding doors including the elevator are wider.

%h3 I forgot something at the space! How can I get it back?

%p Please check out our <a href="/lost-and-found/">Lost and Found</a> page for how we handle lost items. TL;DR: please promptly email us at <code>directors at queercomputerclub dot ca</code> if you have lost any items at the space. Any items not picked up by next open house will be disposed of.