---
title: Queer Computer Club
description: A non-profit, multidisciplinary tech-art collective in Harbord Village, Toronto
path: /
page_name: index
---

.outline-box.push-center.tilt-left
	%h1.big The <em>Queer Computer Club</em> is a non-profit, multidisciplinary tech-artist collective in Toronto, Ontario

#{fancy_image '/images/qcc_projects.jpg', 'Photo of Queer Computer Club space'}

.outline-box.push-center.tilt-right
	%h2.mid A <em>third place</em> for software hackers, game jammers, circuit benders, demosceners, computer touchers, and more!

#{fancy_image '/images/qcc_sharks.jpg', 'Two IKEA Sharks next to a laptop with a QCC sticker on it'}

.outline-box.push-left.tilt-left
	%h2.mid <em>Make friends,</em> work on projects, hang out

.outline-box.push-right.tilt-right
	%h2.mid Become a member to gain <em>24/7 access</em> to our space at <a href="/location/">720 Spadina Avenue</a>

#{fancy_image '/images/toronto.jpg', 'A photo of the building at 720 Spadina Avenue'}

.outline-box.push-center.tilt-left
	%h2.mid Check our <a href="/events/">schedule</a> for <em>open houses,</em> seminars, and demoparties

