---
title: Join | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /join
page_name: Join
---

#{highlighted_title 'Join'}

%p By becoming a member of the Queer Computer Club, you get 24/7 access to our space, tools, and infrastructure. Some of the more dangerous tools require an orientation session to be certified to use them (e.g. soldering iron, heat pencil, toaster...)

%p
	%b You must be at least 18-years-old to join the Queer Computer Club

%h2 Signup Process

%p You must register in person during an open house, which happen on the second Saturday of every month from 1pm to 6pm. If you absolutely cannot attend an open house, you can email us at #{external_link "mailto:directors@queercomputerclub.ca", "directors@queercomputerclub.ca"} to figure out a better time.

%p You must read and agree to our <a href="/code-of-conduct/">code of conduct</a>, and you will also need to sign our membership form and a liability waiver.

%p All the important documents for becoming a member can be found in the list below:

%ul
	%li
		%a(href="/pdfs/QCC_Bylaws.pdf") Bylaws
	%li
		%a(href="/code-of-conduct") Code of Conduct
		%a(href="/pdfs/QCC_Code_of_Conduct.pdf") (printable version)
	%li
		%a(href="/pdfs/QCC_Membership_Form.pdf") Membership Form
	%li
		%a(href="/pdfs/QCC_Space_Use_Policy.pdf") Space Use Policy
	%li
		%a(href="/pdfs/QCC_WAIVER_OF_LIABILITY.pdf") Waiver of Liability

%h2 Membership Fees

%p In order to ensure equitable membership, our fee structure is sliding scale based on your average monthly income and socioeconomic position. The table below is a rough outline of suggested fees. During sign up we will negotiate what the right fee will be for your situation.

%p <b>This is an honour system; we do not require proof of income.</b>

.table_container
	%table
		%tr
			%th
			%th Minimum
			%th Suggested
			%th Appreciated!
		%tr
			%td Unemployed/ODSP
			%td $5/month
			%td $10/month
			%td
		%tr
			%td Student/Elderly/Employed, <$40k/yr
			%td $20/month
			%td $40/month
			%td $60+/month
		%tr
			%td Employed, $40-$80k/yr
			%td $30/month
			%td $60/month
			%td $90+/month
		%tr
			%td Employed, $80k+/yr
			%td $60/month
			%td $120/month
			%td $180+/month

%p <b>These fees are before HST. HST will add 13% to all fees.</b>

%h2 Payment methods

%p We accept PayPal, Stripe, Interac e-Transfer, and cheques. We can provide you with invoices on a monthly basis. <b>These invoices are not donation receipts.</b> Because we are not a registered charity, we cannot provide donation receipts.
