---
title: Land Acknowledgement | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /land-acknowledgement
page_name: Land Acknowledgement
---

#{highlighted_title 'Land Acknowledgement'}

%p Here we acknowledge the land that the Queer Computer Club operates on, and also hopefully educate a little bit about the neighbourhood, city, province, and country.

%p The Queer Computer Club is on the 4th floor of the building at 720 Spadina Avenue. The word "Spadina" comes from the #{external_link "https://en.wikipedia.org/wiki/Ojibwe", "Ojibwa"} word <i>ishpadinaa</i> meaning "high place/ridge" or "sudden rise in the land."

%p The building at 720 Spadina is on the easternmost edge of Harbord Village, a neighbourhood named after Harbord Street, which runs through its middle. Nobody is quite sure where the name "Harbord" comes from, but some believe it's a reference to #{external_link "https://en.wikipedia.org/wiki/Edward_Harbord,_3rd_Baron_Suffield", "Edward Harbord, 3rd Baron Suffield"}, a 19th century British liberal politician who was instrumental in passing the Slavery Abolition Act of 1833.

%p Harbord Village is one of the many neighbourhoods of Toronto, a word that comes from the #{external_link "https://en.wikipedia.org/wiki/Mohawk_people", "Mohawk"} word <i>Tkaronto</i> meaning "where there are trees standing in the water."

%p The land we operate on is covered under #{external_link "https://mncfn.ca/the-toronto-purchase-treaty-no-13-1805/", "Treaty #13"}. This treaty began as a purported sale of land between the #{external_link "https://en.wikipedia.org/wiki/Mississaugas_of_the_Credit_First_Nation", "Mississaugas of the Credit"} and the British crown in 1787. The supporting deed was blank, with no description of the land being sold, and the marks from the chiefs were on a separate sheet of paper that had been glued to the deed. Obviously, this deed held no legal water, and in 1805 the crown attempted to cover their ass with a new deal where they paid 10 shillings for less land than they ultimately took. This injustice lasted for over 200 years until 2010 when the Government of Canada finally settled the Toronto Purchase Claim for $145 million. The full text of Treaty #13 can be read #{external_link "https://www.rcaanc-cirnac.gc.ca/eng/1370372152585/1581293792285#ucls13", "here"}.

%p This land is also part of a #{external_link "https://en.wikipedia.org/wiki/Dish_With_One_Spoon", "Dish With One Spoon"} treaty. This is an indigenous law that has been in use for over 800 years, and allows for multiple nations to share hunting territory, each nation only taking as much as they need and leaving enough for the others. This specific treaty was made between the Anishinaabe and the Haudenosaunee as part of the #{external_link "https://en.wikipedia.org/wiki/Great_Peace_of_Montreal", "Great Peace of Montreal"}.

%p Toronto is the provincial capital of Ontario, a word that comes from the #{external_link "https://en.wikipedia.org/wiki/Haudenosaunee", "Haudenosaunee"} word <i>kanadario</i>, which means "sparkling water." The country of Canada gets its name from the #{external_link "https://en.wikipedia.org/wiki/Wyandot_language", "Wyandot"} word <i>kanata</i> meaning "village" or "settlement." Finally, Canada is a country on #{external_link "https://en.wikipedia.org/wiki/Turtle_Island_(Indigenous_North_American_folklore)", "Turtle Island"}.

%p The Queer Computer Club lies within the traditional territories of many First Peoples, including the Mississaugas of the Credit, the Anishnaabe, the Chippewa, the Haudenosaunee, and the Wendat peoples. The Haudenosaunee nation includes the Seneca, the Cayuga, the Onondaga, the Oneida, the Mohawk, and the Tuscarora.

%p You may have heard the words "Truth and Reconciliation" in recent years. This refers to the #{external_link "https://en.wikipedia.org/wiki/Truth_and_Reconciliation_Commission_of_Canada", "Truth and Reconciliation Commission of Canada"}, a commission that was tasked to bring to light the past wrongdoings of the government of Canada. In 2015 the commission concluded that the #{external_link "https://en.wikipedia.org/wiki/Canadian_Indian_residential_school_system", "residential school system"} amounted to cultural genocide.

%p It is important that the crimes of the residential school system have been acknowledged by the government. However, the colonial history and present of Canada does not start and end with residential schools. The onus is on us to educate ourselves, educate others, support each other, and fight back against oppression in all its forms. We need to learn the <em>truth</em> before we can build a future with <em>reconciliation.</em>

%h2 Further reading

%p #{external_link "https://native-land.ca", "native-land.ca"} is an excellent mapping tool that shows many language regions, traditional territory boundaries, and treaty boundaries.

%p Below are some videos we found helpful in educating ourselves about native culture in Ontario.

%ul
	%li #{external_link 'https://www.youtube.com/playlist?list=PL5sjm57qvH1hbtNWr56umj_p7QEhsq9ga', 'The Anishinaabe View'} is an excellent series of videos where #{external_link "https://en.wikipedia.org/wiki/Anishinaabe", "Anishinaabe"} and other native people discuss their history and their lives. In particular, we found these videos to be especially informative:
	%ul
		%li #{external_link "https://www.youtube.com/watch?v=dHMKKOo_3x0", "Episode 5"} - Barbara Nolan discusses native languages and tells a story in Nishnaabe.
		%li #{external_link "https://www.youtube.com/watch?v=g78tsZTmeaI", "Episode 6"} - Mitch Case, President of the Métis Nation of Ontraio Youth Council, Buffalo Clan, talks about #{external_link "https://en.wikipedia.org/wiki/M%C3%A9tis", "Métis"} culture and history.
		%li #{external_link "https://www.youtube.com/watch?v=fVvE6EItv_M", "Episode 7"} - Alan Corbiere discusses #{external_link "https://en.wikipedia.org/wiki/Wampum", "Wampum belts"}, what they're made of, what they represent, and their importance to treaties.
	%li #{external_link "https://www.youtube.com/watch?v=UHOem_7Re5E", "Iroquois or Haudenosaunee?"} - Perry Ground explains the difference, and how to correctly pronounce Haudenosaunee.
	%li #{external_link "https://www.youtube.com/watch?v=S4gU2Tsv6hY", "The Haudenosaunee Confederacy"} - A historical view of the legislative structure of the Haudenosaunee.

%p Below are some links that discuss the past and present of colonialism in Canada:

%ul
	%li #{external_link "https://www.youtube.com/watch?v=OhBrq7Ez-rQ", "The Indian Act Explained"} is a TVO segment where Bob Joseph lists the "21 Things You May Not Know About the Indian Act." If you only watch one link from this list, we would recommend this one. You can find the same list in text format #{external_link "https://www.ictinc.ca/blog/21-things-you-may-not-have-known-about-the-indian-act", "here."}
	%li #{external_link "https://apihtawikosisan.com/aboriginal-issue-primers/", "âpihtawikosisân"} is a blog run by Chelsea Vowel, a Métis from manitow-sâkahikan (Lac Ste. Anne) Alberta. The link provided goes to her page <i>Indigenous Issues 101</i>, which includes many blog posts aimed at dispelling misunderstandings about native people and culture.

%p.well See a mistake or error in our acknowledgement? Let us know at directors@queercomputerclub.ca