---
title: Location | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /location
page_name: Location
---

#{highlighted_title 'Location'}

%p.well
	Unfortunately, visits by non-members are not permitted outside of open houses. Please do not drop by unless you are accompanied by an existing member as their plus one.

%p Our address is 720 Spadina Avenue, Unit #403. When entering the address into Google Maps or Waze, include the unit number, as Google has had issues with misplacing this address.

%p For directions, use this #{external_link "https://geohack.toolforge.org/geohack.php?pagename=Queer%20Computer%20Club&params=43.6653751_N_79.4032967_W_type:hackerspace_region:EN-CA", "Geohack"} link to be taken to your favourite mapping software/website, or enjoy the fancy Google Maps embed below:

%iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.173498148831!2d-79.40594322313963!3d43.66536137110164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b349600c0da5d%3A0x536a83d923bf806a!2s87M2MH8W+5H!5e0!3m2!1sen!2sca!4v1694845126060!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

%h2 Building Hours

%p The business hours of the building are:

%ul
	%li Monday to Friday: 6:30 a.m. - 9:30 p.m.
	%li Saturday and Sunday: 8:00 a.m. - 8:00 p.m.

%p Outside of these hours, access to the building requires a keyfob for the front door and to operate the elevator. Members are given a fob so they can access the space at any time.

%h2 Parking

%p For cars, there is paid GreenP parking along Spadina. For bikes, there are several city bike racks just outside the front entrance.

%h2 Accessibility

%p The front entrance is accessible, as are the elevators. Unfortunately, the door to our unit does not have an automatic door opener. Our doorway is approximately 84cm across, and all proceeding doors including the elevator are wider. Please reach out if you have any questions about the accessibility of our space.

%h2 Toilets

%p On our floor there are only gendered washrooms, accessible by the bathroom keys hanging by our door. On the second floor of the building is a single-user, accessible washroom. Be aware that this washroom is not available after the building's business hours, as during those times the elevator will only go to the ground floor and our key fobs only allow access to the 4th floor.
