---
title: Lost and Found | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /lost-and-found
page_name: Lost and Found
---

#{highlighted_title 'Lost and Found'}

%p If you've forgotten something at the space during the open house or some other event, please message us directly at <code>directors at queercomputerclub dot ca</code>.

%p We have a lost-and-found bin at the space. After open house we'll post any lost items we found to our #{external_link "https://bsky.app/profile/quecey.queercomputerclub.ca", "BlueSky"} and #{external_link "//fedi.queercomputerclub.ca/@quecey", "Fediverse"} accounts. If nobody claims an item by next open house, we will give it away to a member of the community, or get rid of it in some other way.
