---
title: Member Projects | Queer Computer Club
description: A Tech Art Space in Downtown Toronto
path: /projects
page_name: Member Projects
---

#{highlighted_title 'Member Projects'}

%p Here are some projects by members of the Queer Computer Club.

%ul
  %li
    %a(href="/projects/quecey-voip/") Quecey's Answering Machine
    \- A phone answering system written in python. Call our toll free number!